.detail-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
}
.btn-1 {
  border: none;
  background-color: orange;
  padding: 8px;
  font-weight: bold;
}
.btn-2 {
  margin-left: 5px;
  border: none;
  background-color: rgb(19, 124, 19);
  padding:8px;
  font-weight: bold;
}
.size {
  display: flex;
  gap: 3px;
  font-weight: 500;
}
.Link {
  text-decoration: none;
  padding: 4px 2px;
}
